*{color: #fff;}
.container-fluid{
    background: no-repeat; width: 100%;height: 100vh}
.form_container{
    border: 1px solid #fff;padding: 30px 40px;
    margin-top: 20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
.create-account{
    text-align: left; margin-bottom:30px;
}



